<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<h1>Search by</h1>
<%= form_tag(properties_path, method: "get") do  %>
  <%= select_tag "property_type", options_for_select(['Property','apartment','house','villa'])%>
  <%= select_tag "property_status", options_for_select(['Status' ,'rental', 'sold', 'buy' ])%>
  <%= select_tag "location", options_for_select( [ 'Location', 'bhopal', 'kolkata' ])%>
  <%= submit_tag "search"%>
<% end %>


<table>
  <thead>
    <tr>
      <th>Property type</th>
      <th>Property status</th>
      <th>Price</th>
      <th>Location</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type %></td>
        <td><%= property.property_status %></td>
        <td><%= property.price %></td>
        <td><%= property.location %></td>
        <td><%= property.user.name %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
